
.file-block, .contact-block-view {
    height: 152px;
    width: 128px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin: 12px 0 0 12px;
    position: relative;
    cursor: default;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: white;
    text-align: center;
    position: relative;
}
.file-block::before, .contact-block-view::before, .file-block::after, .contact-block-view::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    top: 0;
    left: 0;
}
.file-block::after, .contact-block-view::after {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    background-color: transparent;
}
.file-block.ui-selected, .contact-block-view.ui-selected, .file-block.ui-selecting, .contact-block-view.ui-selecting, .file-block.dragover, .contact-block-view.dragover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
}
.file-block:hover .file-icon-area, .contact-block-view:hover .file-icon-area, .file-block.ui-selected .file-icon-area, .contact-block-view.ui-selected .file-icon-area, .file-block.ui-selecting .file-icon-area, .contact-block-view.ui-selecting .file-icon-area, .file-block.dragover .file-icon-area, .contact-block-view.dragover .file-icon-area {
    background-color: rgba(0,0,0,0.05);
    -webkit-transition: all 20ms ease-in-out;
    -moz-transition: all 20ms ease-in-out;
    -o-transition: all 20ms ease-in-out;
    -ms-transition: all 20ms ease-in-out;
    transition: all 20ms ease-in-out;
}
.file-icon-area {
    width: 120px;
    height: 120px;
    display: block;
    background-color: #FAFAFA;
    margin: 4px 0 0 4px;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms
}
.contact-block-view {
    width: 140px;
    height: 160px;
}
.file-block img, .contact-block-view img {
    border: 0;
    display: block;
    width: 120px;
    margin: 0;
}
.file-block .thumb img, .contact-block-view img.thumb {
    display: block;
    width: 120px;
}
.file-block img {
    display: none;
}
.file-block .thumb img {
    display: block;
    margin: 0;
}
.file-block .block-view-file-type.thumb, .img-block.thumb {
    background-repeat: repeat;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-image: linear-gradient(45deg, rgba(222,222,222,0.6) 25%, transparent 25%), linear-gradient(-45deg, rgba(222,222,222,0.6) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(222,222,222,0.6) 75%), linear-gradient(-45deg, transparent 75%, rgba(222,222,222,0.6) 75%);
}
.file-block-title {
    display: inline-block;
    padding: 0 0 0 0;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0 10px;
    height: 28px;
    overflow: hidden;
    font-size: 13px;
    line-height: 28px;
    margin: 0;
    text-align: center;
    color: #333333;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
}
.file-block.colour-label .shared-folder-info-block {
    padding-right: 18px;
    position: relative;
}
.file-block.colour-label .shared-folder-info-block::after {
    right: 6px;
    top: 24px;
}
.file-block.colour-label .tranfer-filetype-txt {
    padding-right: 12px;
}
.file-settings-icon, .clear-transfer-icon {
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    position: absolute;
    background-color: white;
    top: 3px;
    left: 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.file-settings-icon {
    left: auto;
    right: 7px;
    top: auto;
    bottom: 31px;
    z-index: 10;
}
.contacts-blocks-scrolling .file-settings-icon, .shared-blocks-scrolling .file-settings-icon {
    bottom: 55px;
}
.grid-url-arrow::before, .file-settings-icon::before, .clear-transfer-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}

.file-settings-icon::after, .clear-transfer-icon::after {
    content: '';
    
    background-repeat: no-repeat;
    background-position: -18px -7788px;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    display: block;
    width: 14px;
    height: 14px;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    margin: 1px;
}
.file-block:hover .file-settings-icon, .file-block.ui-selected .file-settings-icon, tr:hover .grid-url-arrow, tr.ui-selected .grid-url-arrow, .properties-name-block:hover .file-settings-icon, tr:hover .clear-transfer-icon, tr.ui-selected .clear-transfer-icon {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.file-settings-icon:hover::after, .grid-url-arrow:hover::after, .clear-transfer-icon:hover::after {
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}



.block-view-file-type {
    width: 82px;
    height: 84px;
    display: block;
    background-position: 0 0px;
    background-image: url(../files-icons_v2.svg);
    background-repeat: no-repeat;
    position: absolute;
    margin: -42px 0 0 -41px;
    left: 50%;
    top: 50%;
}
.block-view-file-type.thumb {
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
}
.block-view-file-type.word {
    background-position: center -5916px;
}
.block-view-file-type.web-lang {
    background-position: center -6026px;
}
.block-view-file-type.web-data {
    background-position: center -6146px;
}
.block-view-file-type.video {
    background-position: center -6266px;
}
.block-view-file-type.video-vob {
    background-position: center -6386px;
}
.block-view-file-type.video-subtitles {
    background-position: center -6506px;
}
.block-view-file-type.vector {
    background-position: center -6626px;
}
.block-view-file-type.vcard {
    background-position: center -6746px;
}
.block-view-file-type.torrent {
    background-position: center -6866px;
}
.block-view-file-type.text {
    background-position: center -6986px;
}
.block-view-file-type.swf {
    background-position: center -7106px;
}
.block-view-file-type.spreadsheet {
    background-position: center -7226px;
}
.block-view-file-type.sourcecode {
    background-position: center -7346px;
}
.block-view-file-type.real-audio {
    background-position: center -7466px;
}
.block-view-file-type.raw {
    background-position: center -7586px;
}
.block-view-file-type.premiere {
    background-position: center -7706px;
}
.block-view-file-type.powerpoint {
    background-position: center -7826px;
}
.block-view-file-type.podcast {
    background-position: center -7946px;
}
.block-view-file-type.playlist {
    background-position: center -8066px;
}
.block-view-file-type.photoshop {
    background-position: center -8186px;
}
.block-view-file-type.pdf {
    background-position: center -8306px;
}
.block-view-file-type.midi {
    background-position: center -8426px;
}
.block-view-file-type.java {
    background-position: center -8546px;
}
.block-view-file-type.indesign {
    background-position: center -8666px;
}
.block-view-file-type.image {
    background-position: center -8786px;
}
.block-view-file-type.illustrator {
    background-position: center -8906px;
}
.block-view-file-type.html {
    background-position: center -9026px;
}
.block-view-file-type.graphic {
    background-position: center -9146px;
}
.block-view-file-type.gis {
    background-position: center -9266px;
}
.block-view-file-type.generic {
    background-position: center -9386px;
}
.block-view-file-type.font {
    background-position: center -9506px;
}
.block-view-file-type.flash {
    background-position: center -9866px;
}
.block-view-file-type.flash-video {
    background-position: center -9986px;
}
.block-view-file-type.fla-lang {
    background-position: center -10106px;
}
.block-view-file-type.executable {
    background-position: center -10226px;
}
.block-view-file-type.excel {
    background-position: center -10346px;
}
.block-view-file-type.dreamweaver {
    background-position: center -10466px;
}
.block-view-file-type.database {
    background-position: center -10586px;
}
.block-view-file-type.compressed {
    background-position: center -10706px;
}
.block-view-file-type.cad {
    background-position: center -10826px;
}
.block-view-file-type.audio {
    background-position: center -10946px;
}
.block-view-file-type.aftereffects {
    background-position: center -11066px;
}
.block-view-file-type.threed {
    background-position: center -11186px;
}
.block-view-file-type.win-folder {
    background-position: center -11306px;
}
.block-view-file-type.apple-folder {
    background-position: center -11426px;
}
.block-view-file-type.photo-folder {
    background-position: center -11546px;
}
